colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
deprecation==2.1.0
fonttools==4.43.1
graphviz==0.20.1
intervaltree==3.1.0
kiwisolver==1.4.5
lxml==4.9.3
matplotlib==3.8.0
networkx==3.2.1
numpy==1.26.1
packaging==23.2
pandas==2.1.2
Pillow==10.1.0
pydotplus==2.0.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
scipy==1.11.3
six==1.16.0
sortedcontainers==2.4.0
StringDist==1.0.9
tqdm==4.66.1
tzdata==2023.3
