ciso8601; python_version < '3.7'
deprecation
graphviz
intervaltree
jsonpickle
lxml
matplotlib
networkx
numpy>=1.19.5
pandas>=1.1.5
pydotplus
pytz
pyvis
scikit-learn; python_version < '3.10'
scipy
stringdist
sympy
tqdm
workalendar
