wheel
MarkupSafe
backcall
certifi
colorama
decorator
ipython-genutils
joblib
more-itertools
mpmath
https://download.lfd.uci.edu/pythonlibs/x2tqcw5k/numpy-1.19.2+mkl-cp39-cp39-win_amd64.whl
parso
pickleshare
https://download.lfd.uci.edu/pythonlibs/x2tqcw5k/Pillow-7.2.0-cp39-cp39-win_amd64.whl
pygments
pyparsing
pytz
setuptools
six
sortedcontainers
threadpoolctl
wcwidth
cycler
jedi
jinja2
https://download.lfd.uci.edu/pythonlibs/x2tqcw5k/kiwisolver-1.2.0-cp39-cp39-win_amd64.whl
networkx
packaging
prompt-toolkit
python-dateutil
https://download.lfd.uci.edu/pythonlibs/x2tqcw5k/scipy-1.5.2-cp39-cp39-win_amd64.whl
traitlets
zipp
importlib-metadata
ipython
jsonpickle
deprecation
graphviz
intervaltree
https://download.lfd.uci.edu/pythonlibs/x2tqcw5k/lxml-4.5.2-cp39-cp39-win_amd64.whl
https://download.lfd.uci.edu/pythonlibs/x2tqcw5k/matplotlib-3.3.2-cp39-cp39-win_amd64.whl
https://download.lfd.uci.edu/pythonlibs/x2tqcw5k/pandas-1.1.3-cp39-cp39-win_amd64.whl
pulp<=2.1
pydotplus
pyvis
https://download.lfd.uci.edu/pythonlibs/x2tqcw5k/scikit_learn-0.23.2-cp39-cp39-win_amd64.whl
stringdist
sympy
tqdm
