wheel
MarkupSafe
backcall
certifi
colorama
decorator
ipython-genutils
joblib
more-itertools
mpmath
numpy<=1.19.3
parso
pickleshare
pillow
pygments
pyparsing
pytz
setuptools
six
sortedcontainers
threadpoolctl
wcwidth
cycler
jedi
jinja2
kiwisolver
networkx
packaging
prompt-toolkit
python-dateutil
scipy
traitlets
zipp
importlib-metadata
ipython
jsonpickle
deprecation
graphviz
intervaltree
lxml
matplotlib
pandas
pulp<=2.1
pydotplus
pyvis
scikit-learn; python_version < '3.9'
stringdist
sympy
ciso8601; python_version < '3.7'
cython
tqdm
intel-openmp
mkl
cvxopt; python_version < '3.9'
pm4pycvxopt>=0.0.10; python_version < '3.9'
