colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
deprecation==2.1.0
fonttools==4.40.0
graphviz==0.20.1
intervaltree==3.1.0
kiwisolver==1.4.4
lxml==4.9.2
matplotlib==3.7.1
networkx==3.1
numpy==1.24.3
packaging==23.1
pandas==2.0.2
pillow==9.5.0
pydotplus==2.0.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
scipy==1.10.1
six==1.16.0
sortedcontainers==2.4.0
stringdist==1.0.9
tqdm==4.65.0
